.appBar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.logoGroup{
   display: flex;
    align-items: center;
}
.btnGroup{
    display: flex;
    margin-left: 40px;
}
.userGroup{
    display: flex;
    align-items: center;
    margin-right: 30px;
}
.leftGroup{
    display: flex;
    align-items: center;
}
.rightGroup{
    display: flex;
    align-items: center;

}
.refreshDateDiv {
    margin-right: 30px;
}

.appBarLogo {
    width: '40px';
    height: '40px';
    margin-Right: '20px'
}